{% import 'shared/_currency.macro.html.twig' as currency %}

{% for cashFlow in cashFlows %}
    <div class="flex justify-between items-center space-x-2">
        <small class="ms-4 flex-auto">{{ currency.amount(cashFlow.cashFlow, true) }}</small>
        <small class="flex-none">{{ cashFlow.account.name }}</small>
    </div>
{% endfor %}
