{% set label = label | default('') %}
{% set icon = icon | default('') %}
{% set color = color | default('default') %}

{% set entityValueItemCva = html_cva({
    'base': 'space-x-1 inline-flex items-center',
    'variants': {
        'color': {
            'primary': 'text-primary',
            'secondary': 'text-secondary',
            'default': 'text-muted',
        },
    },
    'defaultVariants': {
        'color': 'default',
    },
}) %}

{% set content = block('content') %}

<twig:Tooltip title="{{ label }}" class="inline-flex" placement="top">
    <small class="{{ entityValueItemCva.apply({color}) }}">
        <i class="{{ icon }}"></i>
        <span class="leading-3.5">{{ content | raw }}</span>
    </small>
</twig:Tooltip>