*.local
*.cache
psalm.xml
README.md
rector.php
.nvmrc
.php-cs-fixer.*
.phpcs.xml
phpunit.dist.xml
.stylelintrc.json
*.lock
.*ignore
docker-compose.yml
LICENSE
Makefile
phpstan.neon
package*.json
webpack.config.js

.git/
.github/
.phpunit.cache/
assets/
bin/php
data/
fixtures/
migrations/
node_modules/
tests/
