<menu class="sticky bottom-0 bg-gradient-purple2 text-white p-4 flex justify-between items-center shadow-lg rounded-t-3xl">
    <a class="flex-auto space-x-2 flex items-center w-full">
        <div class="w-8 h-8 bg-gradient-primary text-white rounded-full p-2 flex justify-center items-center">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <span>{{ 'actions.search' | trans(domain: 'interface') }}</span>
    </a>
    <li class="flex-none w-16">
        <twig:Overlay:TriggerClick target="overlay">
            <div class="flex items-center justify-center bg-gradient-primary rounded-full w-16 h-16 p-2 -translate-y-16 shadow-lg absolute">
                <img src="{{ asset('img/logo2.png') }}" alt="logo" class="w-auto">
            </div>
        </twig:Overlay:TriggerClick>
    </li>
    <a class="flex-auto space-x-2 flex items-center justify-end w-full">
        <span>{{ 'actions.create' | trans(domain: 'interface') }}</span>
        <div class="w-8 h-8 bg-gradient-primary text-white rounded-full p-2 flex justify-center items-center">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>
    </a>
</menu>

<twig:Overlay:Overlay id="overlay">
    <div class="px-8 py-4 flex flex-wrap gap-8 justify-center w-full">
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('home'),
            'icon': icons.statistics,
            'label': 'menu.main.statistics' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_account_account_list', {enabled: true}),
            'icon': icons.account,
            'label': 'menu.main.account' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_budget_budget_list', {enabled: true}),
            'icon': icons.budget,
            'label': 'menu.main.budget' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_entries_list'),
            'icon': icons.entries,
            'label': 'menu.main.entries' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_periodicentry_list'),
            'icon': icons.periodic_entries,
            'label': 'menu.main.periodic_entries' | trans(domain: 'navigation')
        } only %}
        {% include 'shared/menu/_overlay_item.html.twig' with {
            'actionUrl': path('back_assignment_list'),
            'icon': icons.assignments,
            'label': 'menu.main.assignments' | trans(domain: 'navigation')
        } only %}
    </div>
</twig:Overlay:Overlay>