<twig:PageTitle :icon="icons.assignment" label="{{ 'assignment.title' | trans }}" />

<twig:List:List>
    {% for assignment in assignments %}
        {% include 'domain/assigment/_item.html.twig' %}
    {% else %}
        <twig:List:Item>
            <div class="text-center">{{ 'no_data' | trans(domain: 'interface') }}</div>
        </twig:List:Item>
    {% endfor %}
</twig:List:List>