<twig:PageTitle :icon="icons.account" label="{{ 'account.title' | trans }}" />

<twig:List:List>
    {% for account in accounts %}
        {% include 'domain/account/_item.html.twig' %}
    {% else %}
        <twig:List:Item>
            <div class="text-center">{{ 'no_data' | trans(domain: 'interface') }}</div>
        </twig:List:Item>
    {% endfor %}
</twig:List:List>