<twig:PageTitle :icon="icons.entry" label="{{ 'entry.title' | trans }}" />

<twig:List:List>
    {% for entry in entries %}
        {% include 'domain/entry/_item.html.twig' %}
    {% else %}
        <twig:List:Item>
            <div class="text-center">{{ 'no_data' | trans(domain: 'interface') }}</div>
        </twig:List:Item>
    {% endfor %}

    <div class="mt-4 flex justify-center items-center">
        {{ knp_pagination_render(entries) }}
    </div>
</twig:List:List>
