@import "../abstract/mixins";

.bugr .list-group {
  background: transparent;

  .list-group-item {
    @include background-acrylic;

    border-radius: $border-radius;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
  }
}
