<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">

    <title>{% block title %}{{ 'app_name' | trans }}{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('bugr') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('bugr') }}
    {% endblock %}
</head>
<body data-turbo="false" class="bugr d-flex">
    <main class="min-h-lvh flex flex-col">
{#        {% include 'shared/toast/_container.html.twig' %}#}
        <turbo-frame id="entry_balance" src="{{ path('front_entry_balance') }}" class="flex-none"></turbo-frame>

        <div class="flex-auto px-2 space-y-2 mb-16">
            {% block body %}{% endblock %}
        </div>

        {% include 'shared/menu/_menu.html.twig' only %}
    </main>
</body>
</html>
