{% set card = html_cva({
    'base': 'rounded-3xl text-white',
    'variants': {
        'color': {
            'primary': 'bg-gradient-primary',
            'acrylic': 'bg-acrylic',
            'transparent': 'bg-transparent',
        },
        'size': {
            'default': 'p-2',
            'lg': 'px-7 py-6',
        },
    },
    'defaultVariants': {
        'color': 'primary',
        'size': 'default',
    },
}) %}

{% set color = color|default('primary') %}
{% set size = size|default('default') %}

<div class="{{ card.apply({color, size}, attributes.render('class')) | tailwind_merge }}" {{ attributes.without('class') }}>
    {% block content %}{% endblock %}
</div>