<div class="position-absolute" style="right: 0; top: 0.5rem;">
    <div class="dropstart">
        <button type="button" class="btn dropdown-toggle text-secondary border-0" data-bs-toggle="dropdown"
                aria-expanded="false">
            <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            {% block content %}{% endblock %}
        </ul>
    </div>
</div>